body{
    font-family: sans-serif;
    margin: 0;
    background-color: white;
}

header{
    display: flex;
    min-height: 70px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;

}

.logo img{
    height: 100px;
    align-items: center;
    margin-right: 10px;
}

a{
    text-decoration: none;
    color: black;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: goldenrod;
}


.navegador{
    padding-right: 10%;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }
    
    .navegador{
        padding-right: 0%;
    }
}

.barranegra{
    background-color: goldenrod;
    margin: 0;
    height: 8px;

}

.my-button {
    padding: 20px 30px;
    background-color: goldenrod;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-right: 20px;
    font-size: 15px;
  }
  
  .my-button:hover {
    background-color: gold;
  }
  
  .my-button:active {
    background-color: goldenrod;
  }
  